
@{
    ViewBag.Title = "Đăng xuất";
}
<div class="my-content">
    <h2>Đăng xuất</h2>
    <p>Bạn đã đăng xuất thành công.</p>
    <p>Click vào @Html.ActionLink("đây","Index","Home") để quay lại trang chủ.</p>
</div>


